html,
body,* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
.img-details-block{
  display: none;
} */

.hide-scrollbar::-webkit-scrollbar{
  background: transparent;
}

.img-details-block:hover{
  display: block;
}